%h4 
  Clients list
%table
  %thead
    %tr
      %th Id
      %th Name
      %th Sellers
  %tbody
    - @clients.each do |client|
      %tr
        %td 
          = client.id
        %td 
          = client.name
        %td
          - client.sellers.each do |seller|
            = link_to "#{seller.name} ", edit_seller_path(id: seller.id)
        %td 
          = link_to 'Edit', edit_client_path(id: client.id)
%p
  = link_to 'Back', root_path
  = link_to 'New Client', new_client_path 
